<div style="margin-top: 50px;">
<h1 style="text-align: center;">DELETE USER BY ID</h1>
<!-- <input type="number" (keyup)="setid($event)"> -->
<!-- <button (click)="del()">Delete</button> -->
<div style="display: flex;justify-content:space-around;justify-items: center;">
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter the ID of user to delete</mat-label>
    <input (keyup)="setid($event)" matInput  maxlength="8" placeholder="Enter the ID of user to delete" >
    
  </mat-form-field>
  <div class="example-button-container">
    <button (click)="del()" mat-fab color="warn" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
</div>
</div>
<app-usersdata></app-usersdata>
</div>
