




      
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">pay-world</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <div style="color: aliceblue;">Email ID: {{email}}</div>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" (click)="logout()">Sign out</a>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/usercrud">
                <span data-feather="file"></span>
                User CRUD
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/reports">
                <span data-feather="shopping-cart"></span>
                Reports
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/userpage">
                <span data-feather="bar-chart-2"></span>
                Users Data
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/retpage">
                  <span data-feather="bar-chart-2"></span>
                  Retailers Data
                </a>
              </li>
            
          </ul>
  
          
          
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Reports</h1>
          
        </div>
  
        <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
  
        
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">

            <mat-tab label="Monthly Onboarded"> <app-mro></app-mro> </mat-tab>
            <mat-tab label="Current Month OnBoarded"> <app-cmo></app-cmo> </mat-tab>
            <mat-tab label="Total Retailer Count"> <app-tco></app-tco>  </mat-tab>
          </mat-tab-group>
      </main>
    </div>
  </div>
  