<div class="container mt-4">

    <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter the ID of user to Update</mat-label>
                <input (keyup)="setid($event)" matInput  maxlength="8" placeholder="Enter the ID of user to Update" >
                
              </mat-form-field>
              <div class="form-group">
              <label for="name">Enter User Type</label>
            <select type="text" formControlName="user_type" id="user_type" name="user_type" class="form-control"
                [ngClass]="{'is-invalid': submitted && f.user_type.errors}">

                <option value="admin">Admin</option>
                <option value="marketing">Marketing</option>
                <option value="operations">Operations</option>
            </select>
            <div *ngIf="submitted && f.user_type.errors" class="invalid-feedback">
                <div *ngIf="f.user_type.errors.required">
                    User Type is Required
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" name="name" class="form-control" placeholder="Enter Name"
                [ngClass]="{'is-invalid': submitted && f.name.errors}">

            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">
                    Name is Required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" name="email" class="form-control" placeholder="Enter Email"
                [ngClass]="{'is-invalid': submitted && f.email.errors}">

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                    Email is Required
                </div>
                <div *ngIf="f.email.errors.email">
                    Email must be valid email Address
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" name="password" class="form-control"
                placeholder="Enter Password" [ngClass]="{'is-invalid': submitted && f.password.errors}">

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">
                    Password is Required
                </div>
                <div *ngIf="f.password.errors.minlength">
                    Password must be atleast 6 digits
                </div>
            </div>

        </div>
        
        <button style="width:100%" type="submit" class="btn btn-primary mt-4">Update</button>
    </form>

</div>