<div class="container mt-4">
    
    <form (ngSubmit)="submit()" [formGroup]="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" name="name" class="form-control" placeholder="Enter Name"
                [ngClass]="{'is-invalid': submitted && f.name.errors}">

            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">
                    Name is Required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" name="email" class="form-control" placeholder="Enter Email"
                [ngClass]="{'is-invalid': submitted && f.email.errors}">

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                    Email is Required
                </div>
                <div *ngIf="f.email.errors.email">
                    Email must be valid email Address
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" name="password" class="form-control"
                placeholder="Enter Password" [ngClass]="{'is-invalid': submitted && f.password.errors}">

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">
                    Password is Required
                </div>
                <div *ngIf="f.password.errors.minlength">
                    Password must be atleast 6 digits
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" name="confirm_password" class="form-control"
                placeholder="Enter confirm password" [ngClass]="{'is-invalid': submitted && f.confirmPassword.errors}">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors?.required">
                    Confirm Password is Required
                </div>
                <div *ngIf="f.confirmPassword.errors?.mustMatch">
                    Password must match
                </div>
            </div>

        </div>
        <button style="width:100%" type="submit" class="btn btn-primary mt-4">Add</button>
    </form>

</div>